@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.supplementary-font {
  font-family: 'Euclid Circular B', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tertiary-text {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sub-text-regular {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sub-text-medium {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sub-text-semibold {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sub-text-bold {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.sub-text-extrabold {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.heading-text-regular {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.heading-text-medium {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.heading-text-semibold {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.heading-text-bold {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.heading-text-extrabold {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.heading-text-bold {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.heading-text-bold {
  font-family: 'Lora', serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
